
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title> Music Store Shop E commerces</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Temp/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/Temp/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="~/Temp/css/shop.css" type="text/css" />
    <!--//Shoping cart-->
    <!--stylesheets-->
    <link href="~/Temp/css/styles.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body>

    <!--//banner -->
    <!-- short -->
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <span>/ /</span>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!--About -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Us</h3>
            <div class="about-innergrid-agile text-center">
                <h4>Welcome To Our Store</h4>
                <p class="mb-3">
                    Welcome to Music Shop Europe - the online store for sheet music, gifts and music accessories. <br />

                    Here are some important reasons to shop with us: <br />
                    <b> Easy Order</b><br />

                    You are just a few clicks away from the Checkout! Once you have found the items you are looking for, Add to Basket and follow four easy steps to complete your purchase from Music Shop . Click here to head straight to your Basket. <br />
                    <b> Fast Shipping</b><br />

                    Music Shop  is committed to making sure you get the items you want, exactly when you want them. We use advanced warehouse management systems to make sure that most items are shipped within 24 hours following an order. We also use a combination of trusted and reliable couriers and postal services to ensure you get your goods as quickly as possible.<br />
                    <b> FREE Delivery</b><br />

                    We aim to provide affordable and timely options to all our customers around the globe, and with FREE delivery available on orders over a certain value, you are sure to get your music on time and at the right price! Click here for more information on our Delivery Rates & Times. <br />
                    <b>Click & Collect</b><br />

                    Delivery is FREE for orders of any value when you opt to collect from a music store near you. With our easy Click & Collect service, you can choose the store, and we will send your items there, letting you know how and when to collect. Click here to find out more.<br />
                    <b> Spoilt for Choice</b><br />

                    With over 650,000 products available online and millions of items in stock, we deliver thousands of products each day from our three European distribution centres. Click here to learn more about our Distribution.<br />
                    <b>Satisfaction Guaranteed</b><br />

                    We want you to be happy with your purchase. That's why, at Music Shop Europe you may return any product within 30 days of receiving it. Click here to find out more about our Returns Policy.<br />
                    <b>  Safe & Secure</b><br />

                    We take your privacy and security very seriously, which is why payments with Music Shop  use Docdata's secure connection. Docdata meet the highest security standards for online payment transfers. You can therefore rest assured that all payments are processed safely and in a secure environment. Click here for more information on Docdata Payments.<br />
                    <b>Quality Service</b><br />
                    Quality Service
                    We aim to provide the very best customer service. Our team of experts are multilingual and available to speak to you Monday to Friday, and can be contacted by email, telephone, fax or by post. Click here to get in touch with us today.<br />
                </p>
                <br />
                <br />
                <br />
                <div class="img-toys-w3l-top">
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="about-sub-inner text-center mt-lg-4 mt-3">
                <h4>
                    A faster and better
                    best to shop
                </h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 abut-gride">
                        <span class="fas fa-truck"></span>
                        <h5>Shipping</h5>
                        <p class="mt-3">
                            velit sagittis vehicula. Duis posuere
                            ex in mollis iaculis. Suspendisse tincidunt
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 abut-gride">
                        <span class="fas fa-phone-volume"></span>
                        <h5>Support</h5>
                        <p class="mt-3">
                            velit sagittis vehicula. Duis posuere
                            ex in mollis iaculis. Suspendisse tincidunt
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 abut-gride">
                        <span class="fas fa-undo"></span>
                        <h5> Return</h5>
                        <p class="mt-3">
                            velit sagittis vehicula. Duis posuere
                            ex in mollis iaculis. Suspendisse tincidunt
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <!--//about -->
    <!--Customers Review -->
    <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Customers Review</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="~/Temp/images/t1.jpg" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>
                                                Milky Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="~/Temp/images/anti.png" alt="" class="image-fluid">
                                            <p class="mt-3">
                                                <span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere
                                                ex in mollis iaculis. Suspendisse tincidunt
                                                velit sagittis vehicula. Duis posuere
                                                velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="~/Temp/images/t2.jpg" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>
                                                Sam Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="~/Temp/images/we3.jpg" alt="" class="image-fluid">
                                            <p class="mt-3">
                                                <span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere
                                                ex in mollis iaculis. Suspendisse tincidunt
                                                velit sagittis vehicula. Duis posuere
                                                velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="~/Temp/images/t1.jpg" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>
                                                Milky Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="~/Temp/images/adle.jpg" alt="" class="image-fluid">
                                            <p class="mt-3">
                                                <span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere
                                                ex in mollis iaculis. Suspendisse tincidunt
                                                velit sagittis vehicula. Duis posuere
                                                velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="~/Temp/images/t3.jpg" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>
                                                Sam Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="~/Temp/images/sam.jpg" alt="" class="image-fluid">
                                            <p class="mt-3">
                                                <span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere
                                                ex in mollis iaculis. Suspendisse tincidunt
                                                velit sagittis vehicula. Duis posuere
                                                velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="~/Temp/images/t2.jpg" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>
                                                Milky Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="~/Temp/images/pain.jpg" alt="" class="image-fluid">
                                            <p class="mt-3">
                                                <span class="fas fa-quote-left"></span>  velit sagittis vehicula. Duis posuere
                                                ex in mollis iaculis. Suspendisse tincidunt
                                                velit sagittis vehicula. Duis posuere
                                                velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="~/Temp/images/t3.jpg" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>
                                                Sam Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="~/Temp/images/artist.jpg" alt="" class="image-fluid">
                                            <p class="mt-3">
                                                <span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere
                                                ex in mollis iaculis. Suspendisse tincidunt
                                                velit sagittis vehicula. Duis posuere
                                                velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- //footer -->
    <!-- Modal 1-->
    <!-- //Modal 1-->
    <!--js working-->
    <script src='~/Temp/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- cart-js -->
    <script src="~/Temp/js/minicart.js"></script>
    <script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- start-smoth-scrolling -->
    <script src="~/Temp/js/move-top.js"></script>
    <script src="~/Temp/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="~/Temp/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->      <!-- //OnScroll-Number-Increase-JavaScript -->
</body>
</html>